* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: #424b54ff;
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: #e1ce7aff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin: 100;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 20px;
}

.searchbox {
  display: block;
  width: 100%;
  padding: 15px;
  margin-top: 30;

  border: none;
  outline: none;
  background: none;

  background-color: #eee;
  border-radius: 8px;

  color: #424b54ff;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.searchbox:focus {
  box-shadow: 0px 0px 8px 3px rgb(133, 126, 119);
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.results .result {
  width: 33.333%;
  min-width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.results .result h3 {
  color: rgb(223, 211, 199);
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background: #424b54ff;
  flex: 1 1 100%;
  transition: 0.4s ease-out;
}

/* const pallete = {
$charcoal: #424b54ff,
$flax: #e1ce7aff,
$peach-puff: #ebcfb2ff,
$pale-silver: #c5baafff,
$white: #ffffffff;
} */

